<!DOCTYPE html>
<html>
  <head>
    <title><%= detalles %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <p>
      <%= detalles %>
    </p>
  </body>
</html>
