<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="background-color: <%= title%>;"></body>
  <h2>Test</h2>
</html>
